.Logo {
  display: inline-flex;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 1.5rem;
  width: 1.5rem;
  align-items: center;
  justify-content: center;
}
